{% extends "base.html" %}

{% block title %}Регистрации{% endblock %}
{% block heading %}Регистрации{% endblock %}

{% block content %}
<form method="get" action="{{ request.url.path }}">
  <label>
    Фильтр статуса
    <select name="status">
        <option value="">Все статусы</option>
        {% for status_option in statuses %}
        <option value="{{ status_option }}" {% if status == status_option %}selected{% endif %}>{{ status_option|capitalize }}</option>
        {% endfor %}
    </select>
  </label>
  <label>
    Фильтр по мероприятиям
    <select name="event_id">
        <option value="">Все мероприятия</option>
        {% for key in events %}
        <option value="{{ key }}" {% if event_id == key %}selected{% endif %}>{{ events[key] }}</option>
        {% endfor %}
    </select>
  </label>
  <label>
    Фильтр по посетителям
    <select name="visitor_id">
        <option value="">Все посетители</option>
        {% for key in visitors %}
        <option value="{{ key }}" {% if visitor_id == key %}selected{% endif %}>{{ visitors[key] }}</option>
        {% endfor %}
    </select>
  </label>
  <button type="submit">Фильтр</button>
</form>
<a href="/registrations/create/">Зарегистрировать посетителя</a>
<table role="table" aria-label="Таблица Регистраций">
  <thead>
  <tr>
    <th scope="col">Посетитель</th>
    <th scope="col">Мероприятие</th>
    <th scope="col">Статус</th>
    <th scope="col">
      <a href="?sort_by=price{% if sort_by == 'price' and sort_order != 1 %}&sort_order=1{% endif %}">Цена</a>
    </th>
    <th scope="col">
      <a href="?sort_by=billed_amount{% if sort_by == 'billed_amount' and sort_order != 1 %}&sort_order=1{% endif %}">Оплаченная сумма</a>
    </th>
    <th scope="col">
      <a href="?sort_by=refund_amount{% if sort_by == 'refund_amount' and sort_order != 1 %}&sort_order=1{% endif %}">Сумма возврата</a>
    </th>
    <th scope="col">
      <a href="?sort_by=billed_at{% if sort_by == 'billed_at' and sort_order != 1 %}&sort_order=1{% endif %}">Оплачено в</a>
    </th>
    <th scope="col">
      <a href="?sort_by=refunded_at{% if sort_by == 'refunded_at' and sort_order != 1 %}&sort_order=1{% endif %}">Возврат в</a>
    </th>
    <th scope="col">Обновить</th>
    <th scope="col">Удалить</th>
  </tr>
  </thead>
  <tbody>
  {% for registration in registrations %}
  <tr>
    <td><a href="{{ url_for('read_visitor', visitor_id=registration.visitor.id) }}">{{ registration.visitor.first_name }} {{ registration.visitor.last_name }}</a></td>
    <td><a href="{{ url_for('read_event', event_id=registration.event.id) }}">{{ registration.event.title }}</a></td>
    <td>{{ registration.status }}</td>
    <td>{{ registration.price|format_price }}</td>
    <td>{{ registration.billed_amount|format_price }}</td>
    <td>{{ registration.refunded_amount|format_price }}</td>
    <td>{{ registration.billed_at|format_datetime_ru }}</td>
    <td>{{ registration.refunded_at|format_datetime_ru }}</td>
    <td>
      <a href="{{ url_for('update_registration_form', registration_id = registration.id) }}">Обновить</a>
    </td>
    <td>
      <a href="{{ url_for('delete_registration', registration_id = registration.id) }}">Удалить</a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}