{% extends "base.html" %}

{% block title %}Обновление регистрации{% endblock %}
{% block heading %}Обновление регистрации{% endblock %}

{% block content %}
<form action="{{ request.url.path }}" method="post">
  <label>Оплаченная сумма:
    <input type="number" name="billed_amount" value="{{ registration.billed_amount }}">
  </label>
  <br>
  <label>Сумма Возврата:
    <input type="number" name="refund_amount" value="{{ registration.refund_amount}}">
  </label>
  <br>
  <input type="submit" value="Сохранить">
</form>
{% endblock %}
